---
/**
 * Site footer with copyright and OpenMoji attribution.
 */
const year = new Date().getFullYear();
---

<footer>
  <div class="footer-links">
    <a href="https://openmoji.org" target="_blank" rel="noopener noreferrer">
      Powered by OpenMoji
    </a>
  </div>
  <p>&copy; {year} emoj.ie</p>
</footer>
